{{#if isSecondary}}
    <ul class="nav">
        {{#foreach navigation}}
            <li class="nav-{{slug}}">
                <a href="{{url}}" class="social-link" target="_blank">
                    <svg width="16" height="16" role="img" aria-label="{{slug}} icon">
                        <use xlink:href="#{{slug}}"></use>
                    </svg>
                </a>
            </li>
        {{/foreach}}
            <li>
                <form>
                    <input id="search-field"/>
                    <input type="submit" value="search">
                </form>
                <section id="results"></section>
            </li>
    </ul>
{{else}}
    <ul class="nav">
        {{#foreach navigation}}
            <li class="{{link_class for=(url) class=(concat "nav-" slug)}}">
                <a href="{{url absolute="true"}}">{{label}}</a>
            </li>
        {{/foreach}}
    </ul>
{{/if}}